In [1]:
#session 6 
#Pandas

In [1]:
import pandas as pd

In [11]:
#Download the csv file i have mailed
#Place the file on your desktop
#Copy the path of the file
#past the path in the pd.read_csv comand as shown , write r before ""
# write \ and the file name i.e sales_2016.csv after the path of the file

In [2]:
user_data = pd.read_csv(r"C:\Users\MuhammadBilal\OneDrive - Unison\Desktop\sales_2016.csv")

In [3]:
user_data #Run the command

,Order ID,Customer ID,SalesPerson,Order Date,Order Priority,SKU,Order Quantity,Unit Sell Price,Discount,Shipping Amount,Ship Mode,Product Container,Ship Date
0,2277,C236,Richard,1/01/2016,Not Specified,SKU1005,10,5.98,0.01,4.38,Regular Air,Small Pack,2/01/2016
1,2277,C236,Richard,1/01/2016,Not Specified,SKU602,21,40.99,0.06,19.99,Regular Air,Small Box,3/01/2016
2,16262,C465,Bob,1/01/2016,Low,SKU552,11,5.18,0.06,2.04,Express Air,Wrap Bag,8/01/2016
3,17058,C296,Bob,1/01/2016,High,SKU647,15,4.28,0.04,6.72,Regular Air,Small Box,2/01/2016
4,52640,C719,Bob,1/01/2016,Medium,SKU401,18,63.98,0.05,19.99,Express Air,Small Box,4/01/2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999,3271,C398,Richard,30/12/2016,Critical,SKU576,18,8.34,0.06,1.43,Express Air,Wrap Bag,31/12/2016
2000,27137,C029,Richard,30/12/2016,High,SKU1194,2,35.99,0.02,1.10,Regular Air,Small Box,1/01/2017
2001,37543,C248,Richard,30/12/2016,Medium,SKU768,6,36.55,0.01,13.89,Regular Air,Wrap Bag,31/12/2016
2002,51648,C660,Bob,31/12/2016,Low,SKU1068,45,49.99,0.03,19.99,Regular Air,Small Box,7/01/2017
2003,51648,C660,John,31/12/2016,Low,SKU600,50,3.98,0.08,2.97,Regular Air,Wrap Bag,5/01/2017

In [4]:
user_data.head() # this function  gives us the first 5 values

,Order ID,Customer ID,SalesPerson,Order Date,Order Priority,SKU,Order Quantity,Unit Sell Price,Discount,Shipping Amount,Ship Mode,Product Container,Ship Date
0,2277,C236,Richard,1/01/2016,Not Specified,SKU1005,10,5.98,0.01,4.38,Regular Air,Small Pack,2/01/2016
1,2277,C236,Richard,1/01/2016,Not Specified,SKU602,21,40.99,0.06,19.99,Regular Air,Small Box,3/01/2016
2,16262,C465,Bob,1/01/2016,Low,SKU552,11,5.18,0.06,2.04,Express Air,Wrap Bag,8/01/2016
3,17058,C296,Bob,1/01/2016,High,SKU647,15,4.28,0.04,6.72,Regular Air,Small Box,2/01/2016
4,52640,C719,Bob,1/01/2016,Medium,SKU401,18,63.98,0.05,19.99,Express Air,Small Box,4/01/2016

In [5]:
user_data.tail()

,Order ID,Customer ID,SalesPerson,Order Date,Order Priority,SKU,Order Quantity,Unit Sell Price,Discount,Shipping Amount,Ship Mode,Product Container,Ship Date
1999,3271,C398,Richard,30/12/2016,Critical,SKU576,18,8.34,0.06,1.43,Express Air,Wrap Bag,31/12/2016
2000,27137,C029,Richard,30/12/2016,High,SKU1194,2,35.99,0.02,1.10,Regular Air,Small Box,1/01/2017
2001,37543,C248,Richard,30/12/2016,Medium,SKU768,6,36.55,0.01,13.89,Regular Air,Wrap Bag,31/12/2016
2002,51648,C660,Bob,31/12/2016,Low,SKU1068,45,49.99,0.03,19.99,Regular Air,Small Box,7/01/2017
2003,51648,C660,John,31/12/2016,Low,SKU600,50,3.98,0.08,2.97,Regular Air,Wrap Bag,5/01/2017

In [20]:
user_data.columns

Index(['Order ID', 'Customer ID', 'SalesPerson', 'Order Date',
       'Order Priority', 'SKU', 'Order Quantity', 'Unit Sell Price',
       'Discount', 'Shipping Amount', 'Ship Mode', 'Product Container',
       'Ship Date'],
      dtype='object')

In [6]:
user_data.describe() #describe function gives statistical information

,Order ID,Order Quantity,Unit Sell Price,Discount,Shipping Amount
count,2004.000000,2004.000000,2004.000000,2004.000000,2004.000000
mean,30323.086327,25.777944,79.760025,0.050823,12.449132
std,17373.548594,14.412582,241.344829,0.031982,17.225474
min,32.000000,1.000000,1.260000,0.000000,0.490000
25%,15620.500000,14.000000,6.480000,0.020000,3.140000
50%,30017.000000,26.000000,19.980000,0.050000,5.905000
75%,45869.000000,39.000000,85.990000,0.080000,12.520000
max,59973.000000,50.000000,6783.020000,0.160000,143.710000

In [7]:
user_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2004 entries, 0 to 2003
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Order ID           2004 non-null   int64
 1   Customer ID        2004 non-null   object
 2   SalesPerson        2004 non-null   object
 3   Order Date         2004 non-null   object
 4   Order Priority     2004 non-null   object
 5   SKU                2004 non-null   object
 6   Order Quantity     2004 non-null   int64
 7   Unit Sell Price    2004 non-null   float64
 8   Discount           2004 non-null   float64
 9   Shipping Amount    2004 non-null   float64
 10  Ship Mode          2004 non-null   object
 11  Product Container  2004 non-null   object
 12  Ship Date          2004 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 203.7+ KB

In [8]:
user_data.Discount

0       0.01
1       0.06
2       0.06
3       0.04
4       0.05
        ...
1999    0.06
2000    0.02
2001    0.01
2002    0.03
2003    0.08
Name: Discount, Length: 2004, dtype: float64

In [10]:
user_data.Discount.value_counts

<bound method IndexOpsMixin.value_counts of 0       0.01
1       0.06
2       0.06
3       0.04
4       0.05
        ...
1999    0.06
2000    0.02
2001    0.01
2002    0.03
2003    0.08
Name: Discount, Length: 2004, dtype: float64>

In [12]:
user_data.drop(["Discount"], axis = 1)

,Order ID,Customer ID,SalesPerson,Order Date,Order Priority,SKU,Order Quantity,Unit Sell Price,Shipping Amount,Ship Mode,Product Container,Ship Date
0,2277,C236,Richard,1/01/2016,Not Specified,SKU1005,10,5.98,4.38,Regular Air,Small Pack,2/01/2016
1,2277,C236,Richard,1/01/2016,Not Specified,SKU602,21,40.99,19.99,Regular Air,Small Box,3/01/2016
2,16262,C465,Bob,1/01/2016,Low,SKU552,11,5.18,2.04,Express Air,Wrap Bag,8/01/2016
3,17058,C296,Bob,1/01/2016,High,SKU647,15,4.28,6.72,Regular Air,Small Box,2/01/2016
4,52640,C719,Bob,1/01/2016,Medium,SKU401,18,63.98,19.99,Express Air,Small Box,4/01/2016
...,...,...,...,...,...,...,...,...,...,...,...,...
1999,3271,C398,Richard,30/12/2016,Critical,SKU576,18,8.34,1.43,Express Air,Wrap Bag,31/12/2016
2000,27137,C029,Richard,30/12/2016,High,SKU1194,2,35.99,1.10,Regular Air,Small Box,1/01/2017
2001,37543,C248,Richard,30/12/2016,Medium,SKU768,6,36.55,13.89,Regular Air,Wrap Bag,31/12/2016
2002,51648,C660,Bob,31/12/2016,Low,SKU1068,45,49.99,19.99,Regular Air,Small Box,7/01/2017
2003,51648,C660,John,31/12/2016,Low,SKU600,50,3.98,2.97,Regular Air,Wrap Bag,5/01/2017

In [14]:
#axis 1 means to drop from coloumns

In [15]:
# for pandas coloumns = Axis 1
# for pandas rows = Axis 0
# index = arranging of rows the numbers per cell in rows

In [17]:
user_data.loc[10:15]

,Order ID,Customer ID,SalesPerson,Order Date,Order Priority,SKU,Order Quantity,Unit Sell Price,Discount,Shipping Amount,Ship Mode,Product Container,Ship Date
10,25188,C781,Richard,3/01/2016,Medium,SKU1178,20,85.99,0.00,2.50,Regular Air,Small Box,5/01/2016
11,4006,C355,Richard,3/01/2016,Medium,SKU580,38,37.94,0.06,5.08,Regular Air,Wrap Bag,4/01/2016
12,9221,C159,John,3/01/2016,Low,SKU280,9,3.25,0.03,49.00,Regular Air,Large Box,7/01/2016
13,9221,C159,Richard,3/01/2016,Low,SKU496,25,60.98,0.04,19.99,Regular Air,Small Box,7/01/2016
14,54528,C621,Richard,4/01/2016,Medium,SKU750,17,11.66,0.01,8.99,Regular Air,Small Pack,6/01/2016
15,54528,C621,Richard,4/01/2016,Medium,SKU829,8,10.48,0.06,2.89,Regular Air,Small Pack,6/01/2016

In [18]:
# loc function locates a specific row , columns , interval

In [19]:
user_data.loc[10:15,"SalesPerson"]

10    Richard
11    Richard
12       John
13    Richard
14    Richard
15    Richard
Name: SalesPerson, dtype: object